<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>{{ header }}</h1>
    <p>Задача Олега: {{ tasks.task }}</p>
    <p>Статус: {{ tasks.status }}</p>
    <p>Категория: {{ tasks.category }}</p>
    <br>Задача Саши: {{ tasks.task1 }}<br>
    <p>Статус: {{ tasks.status1 }}</p>
    <p>Категория: {{ tasks.category1 }}</p>
    <br>Задача Оли: {{ tasks.task2 }}<br>
    <p>Статус: {{ tasks.status2 }}</p>
    <p>Категория: {{ tasks.category2 }}</p>
    <br>Задача Коли: {{ tasks.task3 }}<br>
    <p>Статус: {{ tasks.status3 }}</p>
    <p>Категория: {{ tasks.category3 }}</p>
</body>
</html>